

{{#partial "content"}}

    <div class="card" style="font-family: 'Oleo Script Swash Caps', cursive;">
        <div class="card-body">
            <div class="success">
                <h3>Hero successfully created!</h3>
                <h5><a href="/heroes/new" class="btn btn-dark">Add another Hero</a></h5>
                <h5><a href="/heroes" class="btn btn-dark">View Heroes</a></h5>
            </div>
        </div>
    </div>



{{/partial}}

{{> layout.hbs}}


