{{#partial "content"}}
    <div class="card">
        <div class="card-body" style="font-family: 'Oleo Script Swash Caps', cursive;">
            <div class="success">
                <h3>Squad successfully created!</h3>
                <h4>Proceed to create a hero<a href="/heroes/new" style="color:white;">&nbsp;here</a></h4> <br> Or
                <h5><a href="/squad/new" class="btn btn-dark">Add another Squad </a></h5>
                <h5><a href="/squad" class="btn btn-dark">View Squad</a></h5>
            </div>
        </div>
    </div>


{{/partial}}

{{> layout.hbs}}