{{> layout.hbs}}



<div class="success">
    <p>Hero successfully created!</p>
    <p><a href="/heroes/new" class="btn-info">Create Another Hero</a></p>
    <p><a href="/heroes" class="btn-info">View Heroes</a></p>
</div>

    <a href="/">Go Back</a>


