{{#partial "styles"}}

    <link rel='stylesheet' href='/css/index.css'>

{{/partial}}

{{#partial "content"}}

    <div class="card card justify-content-center align-self-center" style="font-family: 'Oleo Script Swash Caps', cursive;">
        <h1 class="card-header">Hero Squad</h1>
        <div class="card-body">
            <h2 class="card-title">Welcome to Hero Squad where we fight ills in the society</h2>
            <h3 class="card-text">This web application allows you to create a hero or heroin with certain powers to fight crimes.You can only add one hero or heroin to one squad and the hero can never be in two or more squads.</h3>
            <br><br>
            <h3>Get started by filling in the squad form before the hero form.</h3>
            <a href="/squad/new" class="btn btn-dark">Get started</a>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}