{{#partial "styles"}}

    <link rel='stylesheet' href='/css/index.css'>

{{/partial}}

{{#partial "content"}}

    <div class="card">
        <h5 class="card-header">Hero Squad</h5>
        <div class="card-body">
            <h5 class="card-title">Welcome to Hero Squad where we fight ills in the society</h5>
            <p class="card-text">This web application allows you to create a hero or heroin with certain powers to fight crimes.You can only add one hero or heroin to one squad and the hero can never be in two or more squads.</p>
            <br><br>
            <p>Get started by filling in the squad form before the hero form.</p>
            <a href="/squad/new" class="btn btn-dark">Get started</a>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}