{{#partial "content"}}

    <h1>Hero squad</h1>
    <p>Welcome to Hero Squad where we fight ills in the society.</p>
    <p>This web application allows you to create a hero or heroin with certain superpowers to fight crimes.You can only add one hero or heroin to one squad and can never be in two or more squads.Ω</p>
    <p><a href='/hero' >start</a></p>
{{/partial}}

{{> layout.hbs}}