{{> layout.hbs}}



<div class="success">
    <p>Squad successfully created!</p>
    <p><a href="/heroes/new" class="btn-info">Create Another Squad</a></p>
    <p><a href="/heroes" class="btn-info">View Squads</a></p>
</div>

<a href="/">Go Back</a>