{{#partial "title" }}
    Create a squad
{{/partial}}

<!--form.hbs.-->
{{#partial "content"}}

    <form action="">
        <div class="form-group">
            <input class="form-control " type="text" placeholder="Squad's name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Squad's cause">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Squad's maximum size">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{{/partial}}

{{> layout.hbs}}