{{#partial "content"}}

    <div class="success">
        <p>Squad successfully created!</p>
        <p><a href="/heroes/new" class="btn btn-dark">Add Squad </a></p>
        <p><a href="/heroes" class="btn btn-dark">View Squad</a></p>
    </div>

{{/partial}}

{{> layout.hbs}}