

{{#partial "content"}}

    <div class="success">
        <p>Hero successfully created!</p>
        <p><a href="/heroes/new" class="btn btn-dark">Add Hero</a></p>
        <p><a href="/heroes" class="btn btn-dark">View Heroes</a></p>
    </div>

{{/partial}}

{{> layout.hbs}}


